table{
  width: 100%;
}
th{
  font-size: medium;
  background-color: darkgrey;
  color: #FFF;
  border: 1px solid black;
}
td{
  border: 1px solid black;
  text-align: center;
}
th.mat-header-cell{
  text-align: center !important;
}
select{
  width: 90%;
  border-color: #000;
  border-width: 2px;
  height: 35px;
}
button{
  background: transparent;
  border: none;
}
